@import 'primeicons/primeicons.css';

html {
  font-size: 16px;
  background-color: var(--surface-ground);

  --success: #86efac;
  --info: #93c5fd;
  --warning: #fcd34d;
  --help: #d8b4fe;
  --danger: #fca5a5;

  --custom-border-radius: 6px;
}

body {
  margin: 0;
}
