@import 'primeicons/primeicons.css';

html {
  font-size: 16px;
  background-color: var(--surface-ground);

  --success: #86efac;
  --info: #93c5fd;
  --warning: #fcd34d;
  --help: #d8b4fe;
  --danger: #fca5a5;

  --custom-border-radius: 6px;
}

body {
  margin: 0;
}

.hidden {
  visibility: hidden;
}

.component-wrapper {
  width: 85%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

@media screen and (max-width: 750px) {
  .component-wrapper {
    width: 98%;
  }
}

.p-dropdown-item {
  white-space: normal;
}

.p-dropdown-label {
  white-space: normal;
}
